*{
    padding: 0;
    margin: 0;
}
.header{
    /* border: solid red; */
    height: 24vh;
    width:100%;
    padding-bottom: -9px;
    background-color: aliceblue;
    margin-top: -13px;

}

/* ----------------------------------------navbar1---------------------------------- */
.navbar1{
   display: flex;
   justify-content: space-between;
   margin: 0 12rem 0rem 12rem;
   /* max-width: 57%; */
   
   
   
}

/* --------------------------------------------menu1-------------------------------- */
.menu1{
    display:flex;
    float: right;
    padding: 20px 0 0 ;
    margin-right: 15px;
    /* border:solid red; */
    align-content: center;
    justify-content: center;
    
}
.search{
    margin: 0;
    
}
 input .text{
    padding: 80px;
    border:1px;
    /* outline: none; */
    border-radius: 5px;
    font-size: 30px;


}
.search button{
    padding: 80px;
    border: none;
    border-radius: 5px;
    background-color: rgb(252, 253, 253) ;
    color: black;
    font-size: 40px;
    cursor: pointer;

}
/* ----------------------------------------------------menu2---------------------------------------------- */
.menu2{
    display: flex;
    float: left;
    justify-content: space-between;
    padding: 10px 0 0 ;
    /* border:solid red; */
}
.phone-i{
    margin: 0 10px 0 30px ; 
    width: 50px; 
    height:50px;
    background-color: aliceblue;
}
.email-i{
    margin-right: 10px;
    width: 50px;
    height:50px;
    /* border: solid red; */
    background-color: aliceblue;
}

/* -----------------------------------------navbar-------------------------------------- */
.navbar{
    background-color: white;
    margin-top: 1rem;
    position: sticky;
    margin: 0 12rem 0 12rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60px;
    /* position: relative; */
    /* border: 2px solid; */
}
.navbar a{
    text-decoration: none;
    color: black;
    /* border: 2px solid; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
.bar1{
    margin-left: -25px;
    display: flex;
    gap: 20px;
}
ul{
    display: block;
    list-style-type: none;
    position: sticky;
    top: 0;
    width: 95%;
    overflow: hidden;
}
li{
  /* display: inline-block; */
  /* font-family:Arial, Helvetica, sans-serif; */
  float: left;
  text-align: center;
  font-weight:100;
}
li a{
  /* font-size: 40px; */
  display: block;
  border: none;
  padding: 20px;
  background-color: white;
}
li a:hover:not(.active){
  background-color: rgb(164, 216, 250);
 
}
.active{
  background-color: rgb(164, 234, 253);
  font-weight: bold;
  
}
/* button{
    
    padding: 0;
    /* margin-right: 10px; */
    /* border-width: 0cap;
    background-color: red;
    height: 80%;
    transition: .4s; */
    /* float: right; */
    
/* }  */
 /* button:hover{
    background-color: rgb(165, 156, 156);
    transform: scale(1.05);
} */
 .signup{
    
    
    height: 100%;
    float: right;
    display: flex;
    position: absolute;
    right: 5px;
    align-items: center;
    /* border: solid red; */
    
}
.signup a{
    display: flex;
    border: solid rgb(6, 174, 59);
    padding: px;
}
.signup a:hover{
    background-color: rgb(42, 6, 172);
}
.project-form{

   form{
   display: flex;
   flex-direction: column;
    max-width: 50%;
    margin: 4rem 0 0 5rem;
    gap: 1rem;
    border: solid yellowgreen;
    overflow: none;
    
}
}