*{
    padding: 0;
    margin: 0;
}
.header{
    /* border: solid red; */
    height: 24vh;
    width:100%;
    padding-bottom: -9px;
    background-color: aliceblue;
    margin-top: -13px;

}

/* ----------------------------------------navbar1---------------------------------- */
.navbar1{
   display: flex;
   justify-content: space-between;
   margin: 0 12rem 0rem 12rem;
   /* max-width: 57%; */
   
   
   
}

/* --------------------------------------------menu1-------------------------------- */
.menu1{
    display:flex;
    float: right;
    padding: 20px 0 0 ;
    margin-right: 15px;
    /* border:solid red; */
    align-content: center;
    justify-content: center;
    
}
.search{
    margin: 0;
    
}
 input .text{
    padding: 80px;
    border:1px;
    /* outline: none; */
    border-radius: 5px;
    font-size: 30px;


}
.search button{
    padding: 80px;
    border: none;
    border-radius: 5px;
    background-color: rgb(252, 253, 253) ;
    color: black;
    font-size: 40px;
    cursor: pointer;

}
/* ----------------------------------------------------menu2---------------------------------------------- */
.menu2{
    display: flex;
    float: left;
    justify-content: space-between;
    padding: 10px 0 0 ;
    /* border:solid red; */
}
.phone-i{
    margin: 0 10px 0 30px ; 
    width: 50px; 
    height:50px;
    background-color: aliceblue;
}
.email-i{
    margin-right: 10px;
    width: 50px;
    height:50px;
    /* border: solid red; */
    background-color: aliceblue;
}

/* -----------------------------------------navbar-------------------------------------- */
.navbar{
    background-color: white;
    margin-top: 1rem;
    position: sticky;
    margin: 0 12rem 0 12rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60px;
    /* position: relative; */
    /* border: 2px solid; */
}
.navbar a{
    text-decoration: none;
    color: black;
    /* border: 2px solid; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
.bar1{
    margin-left: -25px;
    display: flex;
    gap: 20px;
}
ul{
    display: block;
    list-style-type: none;
    position: sticky;
    top: 0;
    width: 95%;
    overflow: hidden;
}
li{
  /* display: inline-block; */
  /* font-family:Arial, Helvetica, sans-serif; */
  float: left;
  text-align: center;
  font-weight:100;
}
li a{
  /* font-size: 40px; */
  display: block;
  border: none;
  padding: 20px;
  background-color: white;
}
li a:hover:not(.active){
  background-color: rgb(164, 216, 250);
 
}
.active{
  background-color: rgb(164, 234, 253);
  font-weight: bold;
  
}
/* button{
    
    padding: 0;
    /* margin-right: 10px; */
    /* border-width: 0cap;
    background-color: red;
    height: 80%;
    transition: .4s; */
    /* float: right; */
    
/* }  */
 /* button:hover{
    background-color: rgb(165, 156, 156);
    transform: scale(1.05);
} */
 .signup{
    
    
    height: 100%;
    float: right;
    display: flex;
    position: absolute;
    right: 5px;
    align-items: center;
    /* border: solid red; */
    
}
.signup a{
    display: flex;
    border: solid rgb(6, 174, 59);
    padding: px;
}
.signup a:hover{
    background-color: rgb(42, 6, 172);
}
/* ,..............................................................end of .navbar............................................... */

.Education{
    display: flex;
    gap: 2rem;
    border: solid black;
    border-radius: 3rem;
    margin-top: 3rem;
    width: 53rem;
    max-width: 53rem;
    /* height: 23rem; */

    img{
        width: 20rem;
        height: 15rem;
        padding: 1rem 0 1rem 1rem;
    }
    p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    button{
       height: 2rem;
       margin: 2rem 0rem 0 10rem;
       
    }
    a{
        text-decoration: none;
        color: red;
    }
    writing{
        display: block;
    }
    span{
        color: yellowgreen;
        font-style: oblique;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

}
.discover2{
    margin: -110rem 0 0 60rem;
}
.Education2{
        display: flex;
        gap: 2rem;
        border: solid black;
        border-radius: 3rem;
        margin-top: 3rem;
        width: 33rem;
        max-width: 43rem;
        /* height: 23rem; */
    
        img{
            width: 20rem;
            height: 15rem;
            padding: 1rem 0 1rem 1rem;
        }
        p{
            margin-top: 2rem;
            font-size: 1.5rem;
        }
        button{
           height: 2rem;
           margin: 2rem 0rem 0 3rem;
           
        }
        a{
            text-decoration: none;
            color: red;
        }
        writing{
            display: block;
        }
        span{
            color: yellowgreen;
            font-style: oblique;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
}



/* .,.,.,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,footer.,,................................................ */
.footer1{
    background-color: orangered;
max-width: 60%;
margin-left: 12rem;
height: 12vh;
border: solid white 50px;
margin-top: -4rem;
padding-top: 2rem;
color: azure;
}
.footer2{
    background-image: url(./no\ background\ images/Base-5.jpg);
    display: block;
    gap: 15rem;
    padding-top: 2rem;
    height: 90vh;
    width: 100%;
}
.line2 a{
    color:azure;
    text-decoration-line: none;
}
.line3 a{
    color:azure;
    text-decoration-line: none;
}
.footer2 a:hover{
    color: red;
}
.line{
    padding-top: 5rem;
    color: azure;
    margin-left: 5rem;
}
.line p{
    padding: 10px;
}
.line4 p{
    padding: 10px;
}
