/* header nav ul li {
    display: flex;
    list-style-type: none;
    gap: 20px;
}
a {
    text-decoration: none;
} */

body{
    background-color: skyblue;
}

 p{
    color: white;
    background-color: black;
    font-size: 100px;
}

