/* -------------------------------------navigatin bar-----------------------------------*/
/* -------------------------------------header----------------------------------------- */
*{
    padding: 0;
    margin: 0;
 }  

.header{
    /* border: solid red; */
    height: 24vh;
    width:100%;
    padding-bottom: -9px;
    background-color: aliceblue;
    margin-top: -13px;

}

/* ----------------------------------------navbar1---------------------------------- */
.navbar1{
   display: flex;
   justify-content: space-between;
   margin: 0 12rem 0rem 12rem;
   /* max-width: 57%; */
   
   
   
}

/* --------------------------------------------menu1-------------------------------- */
.menu1{
    display:flex;
    float: right;
    padding: 20px 0 0 ;
    margin-right: 15px;
    /* border:solid red; */
    align-content: center;
    justify-content: center;
    
}
.Search{
    margin: 0;
    

    input{
        margin:0;
         width: 20rem; 
        height: 30px;
        margin:-10px 0 0 25px;
        border:solid 1px white;
        padding:8px;
        border-radius: 5px 0 0 5px;
    
    
    }
    
    button{
        padding:16px;
        border: none;
        border-radius: 0 5px 5px 0;
        background-color: #58AEC0 ;
        color: black;
        /* font-size: 18px; */
        cursor: pointer;
        margin:0 0 -10px -4px;

}
}
/* ----------------------------------------------------menu2---------------------------------------------- */
.menu2{
    display: flex;
    float: left;
    justify-content: space-between;
    padding: 10px 0 0 ;
    /* border:solid red; */
}
.phone-i{
    margin: 0 10px 0 30px ; 
    width: 50px; 
    height:50px;
    background-color: aliceblue;
}
.email-i{
    margin-right: 10px;
    width: 50px;
    height:50px;
    /* border: solid red; */
    background-color: aliceblue;
}

/* -----------------------------------------navbar-------------------------------------- */
.navbar{
    background-color: white;
    margin-top: 1rem;
    position: sticky;
    margin: 0 12rem 0 12rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60px;
    /* position: relative; */
    /* border: 2px solid; */
}
.navbar a{
    text-decoration: none;
    color: black;
    /* border: 2px solid; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
.bar1{
    margin-left: -25px;
    display: flex;
    gap: 20px;
    /* display: block; */
    list-style-type: none;
    /* position: -webkit-sticky sticky; */
    top: 0;
    width: 95%;
    overflow: hidden;
    
        li{
            /* display: inline-block; */
            /* font-family:Arial, Helvetica, sans-serif; */
            float: left;
            text-align: center;
            font-weight:100;
          
            a{
              /* font-size: 40px; */
              display: block;
              border: none;
              padding: 20px;
              background-color: white;
            }
             a:hover:not(.active){
              background-color: #58AEC0;
              /* font-weight: bold; */
            }
             a:active{
              background-color: #3e818f;
              font-weight: bold;
              
            }
          }
        
    
}


 

 .signup{
    display: block;
    
    
}
.signup a{
    display: flex;
    text-align: left;
    padding: 20px  ;
    margin-left: -30px;
    

}
.signup a:hover{
    background-color:#58AEC0;
    transform: scale(1.05);
    /* font-weight: bold; */
}
/* ------------------------------------------head2-------------------------------------- */
.head2{
    /* background-image:url(pictures/img-home01-8DNATWR\ \(1\).jpg); */
    /* height: 200vh; */
    width: 100%;
    text-align: center;
    
}
.background_of_head2{
    width: 100%;
    z-index: -10;
    opacity:1;
    /* background-color: rgb(1, 40, 69); */
    
    
}
/* .head2 img::before{
    width: 100%;
    z-index: -1;
    background-color: rgb(1, 34, 81) ;
    opacity:0.9;

} */
/* .background_opacity{
    width: 100%;
    z-index: -1;
    background-color: rgb(2,2,2) ;
    opacity:0.5;
} */
.head2p p {
    margin-top: -42rem;
    color: white;
    /* border:solid red 6px ; */
    display:block;
    text-align: center;
    font-size: 18px;
    letter-spacing: -0.5px;
    font-family: arial;
    font-weight: 40;
    
}
.head2p p span{
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: normal;
    
}
/* ---------------------------------------------------add project/ login button--------------------- */
.head2buttons{
    display:flex;
    margin-top: 3rem;
    justify-content: center;
    
}
.addprojectbutton{
    margin-right: 10px;
}
.addprojectbutton  a{
    
    text-decoration: none;
    color: white;
    display:block;
    padding: 18px 35px;
    background-color: #58AEC0;
    font-family: arial;
}
.addprojectbutton a:hover{
    background-color: white;
    color:black;
}
.loginbutton  a{
    
    text-decoration: none;
    color: black;
    display:block;
    padding: 18px 60px;
    background-color: white;
    font-family: arial;
}
.loginbutton a:hover{
    background-color: #58AEC0;
    color: white;
}

/* -----------------------------------explore categories-------------------------------------------- */
.head2end{
    margin:8.5rem 5rem 0;
    z-index: 2;
}
.horizontalline{
    display:flex;
    text-align: center;
    /* border: solid red 5px; */
    margin:0;
    padding: 0;
    justify-content: center;
    z-index: 2;

}
.horizontalline hr{
    width:38%;
    height:0.2px;
    background-color:grey;
    border: none;
    margin: 8px  4px 0;
    /* padding-top: 10px; */
    z-index: 2;
}
.horizontalline p{
    color: white;
    font-family: arial;
    font-weight: 530;
}
.categories{
    display:flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.categories .card{
    background-color: white;
    width:250px;
    height: 140.99px;
    z-index: 2;
    img{
        float: right;
        margin: 18px 14px 0 0;
        
        /* width: 30px;
        height: 30px; */
    }
    img:hover{
        transform:scale(0.9);
        transition: 0.2s;
    }
     p{
        float: left;
        
        /* margin: 20px 0 0 20px; */
        padding:0;
        display: block;
        font-family: arial;
        font-size: 30px;
        width:20%;
    } 
    .item{
        display: flex;  
        justify-content: space-between;
    }
    .item p{
        margin: 20px 0 0 20px;
        color:#58AEC0;
    }
     span{
        font-family: arial;
        font-size: 20px;
        margin-left: 20px;
        font-weight: bold;
        
    }
    
    
}

.head2endbottom{
    width:99vw;
    max-width: 99vw;
    height:32vh;
    margin-top: -75px;
    background-color:#58AEC0;
    z-index: 1;
    position:absolute;
    overflow: hidden;
}
.head2endbottom .bg{

    margin-top: -34rem;
    width: 99vw;
    /* border: solid red; */
}
.head2endbottom_testimonial{
    z-index: 9;
    /* border: solid red; */
    margin-top: 30vh;
    
}
.head2endbottom_testimonial img{
    border:solid white 2px;
    border-radius: 50%;
    height:50px;
   
}
.head2endbottom_testimonial img:hover{
    transform:scale(1.1);
    z-index: 2;
    transition: 0.2s;
}
.head2endbottom_testimonial{ 
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: -42rem;
    z-index: 2;
    color: white;
    p{
        text-align: left;
        margin-top: 10px;
        font-family: arial;
        font-size: 15px;
    }
    p1{
        font-weight: bold;
        font-family: arial;
        margin-top: 5px;
    }
}
/* -----------------------------------hero2 section------------------------------------------------ */
/* ------------------------------------hero2 section left------------------------------------------- */
.hero2{
    margin-top: 160px;
    /* border:red solid 2px; */
    /* padding-bottom: 700px; */
    display: flex;
    .hero2_left{
        background-color:aliceblue;
        width:36.6%;
        height:107vh;
        display: block;
        padding-top:50px;
        .redimage{
            border: solid aliceblue ;
            padding-left: 8.5rem;
            margin-top: 5.5rem;
            
            
        }
        img{
            margin:3.63rem 0 -3px 21.7rem;
            /* border:solid red; */

        }
        .exp{
            /* border: solid black; */
            display: flex;
            width:250px;
            height:100px;
            margin: 0 7rem 0 4rem;
            padding:15px;
            background-color: #EB5D5D;
            p{
                text-align: center;
                font-family:sans-serif;
                font-size: 60px;
                font-weight: bold;
               color: white;
               padding: 13px 0 0 18px;
            }
            span p{
                text-align: left;
                font-size: 22px;
                font-family: sans-serif;
                color:white;
                padding: 20px 0 0 10px;
                

            }
        }
    }
/* ---------------------------------------hero2 section right-------------------------------------------------- */
    .hero2_right{
        margin:8rem 5rem 0 14rem;
        
        /* display: block; */
        .hero2_right_top_up{
            font-family: sans-serif;
            font-size: 12px;
            color: #848493;
            img{
                margin: 0 0 0 5px;
            }
        }
        .hero2_right_top_h{
            font-family: sans-serif;
            font-size: 40px;
            margin:5px 0 35px;
        }
        .hero2_right_top_p{
            color: #848493;
            font-family: sans-serif;
            font-size: 18px;
            line-height: 30px;
        }
        .hero2_right_middle{
            display:flex;
            margin:35px 0 0 0;
            .hero2_right_middle_left{
                display: block;
                hr{
                    margin:30px 0;
                    background-color: #848493;
                }
                .hero2_right_middle_left_up{
                    display:flex;
                    overflow: hidden;
                    
                    img{
                        width: 64px;
                        height: 64px;
                        align-self: center;
                    }

                    p{
                        color:#848493;
                        font-size: 15px;
                        font-family: sans-serif;
                        line-height: 30px;
                        padding-left: 20px;
                        margin-right: -15px;

                        span{
                            
                            font-family: sans-serif;
                             font-weight: bold;
                             font-size: 22px;
                             color: black;
                             
                        }
                    }
                }
                .hero2_right_middle_left_down{

                    display:flex;
                    overflow: hidden;

                    img{
                        width: 64px;
                        height: 64px;
                        align-self: center;
                    }

                    p{
                        color:#848493;
                        font-size: 15px;
                        font-family: sans-serif;
                        line-height: 30px;
                        padding-left: 20px;
                        margin-right: -15px;

                        span{
                            
                            font-family: sans-serif;
                             font-weight: bold;
                             font-size: 22px;
                             color: black;
                             
                             
                        }
                    }
                }
            }
            .hero2_right_middle_right{
                background-color:#84849326 ;
                margin:0 0 0 50px ;
                /* height:100%; */
            
             .hero2_right_middle_right1{
                
                justify-content: center;
                font-family: sans-serif;
                font-weight: bold;
                text-align: center;
                height:76%;
                margin:20px 20px 22px 20px;
                padding:10px 5px;
                background-color: white;
                p{
                    /* padding:30px; */
                }
                
                

                }
            }
        }
        button{
            margin-top: 40px;
            border: none;
        }
        button  a{
    
            text-decoration: none;
            color: white;
            display:block;
            padding: 18px 45px;
            background-color:#58AEC0;
            font-family: arial;
            font-weight: bold;
            
        }
        button a:hover{
            background-color: #EB5D5D;
            color:white;
        }
    }
}
/* ------------------------------------------her03---------------------------------- */
.hero3{
    

}
.top_para{
    text-align: center;
   font-family: sans-serif;
   margin-top: 7rem;
   color:#848493;
   font-size: 15px;
   img{
    margin-left: 10px;
   }
}
.down_para{
    text-align: center;
    font-family: arial;
    font-size:30px;
    font-weight: bold;
}
.explore_projects{
    display: flex; 
    justify-content: space-between;
    width: 80%;
    max-width: 80%;
    height:74vh;
    margin:4rem 10rem;
    .ex_left{
        border:solid #848493 1px;
        text-align: center;
        width: 380px;
        max-width: 400px;
        img{
            width:350px;
            margin-top: 10px;
        }
        .tag{
            /* border:solid; */
            width: 70%;
            z-index: 2;
            margin: -16rem 0 17rem 10px;
            color: white;
            font-family: arial;
            text-align: left;
            img{
                width:105px;
                
            }
            p{
                z-index: 3;
                margin: -33px 0 0 10px;
                font-size: 13px;
            }

        }
        .p1{
            color: #848493;
            font-family: arial;
            font-size: 14px;
        }
        .p2{
            font-family: sans-serif;
            font-weight: bold;
            font-size: 27px;
            margin-top: 10px;
        }
        .p3{
            margin-top: 2rem;
            font-size: 20px;
            font-family: sans-serif;
            color: #848493;
            span{
                
                font-family: sans-serif;
                font-size: 60px;
                color: black;
            }
        }
        .grey{
            background-color: #8484934e;
            color: #84849311 ;
            width: 90%;
            border-radius: 3cap;
            margin:0 1rem;

        }
    }
}
/* --------------------------------------------hero4 section---------------------------------------------------------- */
.hero4{
    display:flex;
    background-image: url(./pictures/Base-1.jpg);
    height:120vh;
    margin-top: 15rem;
    

.hero4_left{
    width: 50% ;
    
    margin:0 -2rem;
    
}
.hero4_div1{
    display: flex;
    width:30%;
    height: 80px;
    float: right;
    background-color:#EB5D5D;
    color: white;
    padding:20px;
    p{
        font-family: sans-serif;
        font-weight: bold;
        padding: 10px 0 0 20px;
        font-size: 18px;
        margin-right: -3px;

    }
    img{
        width:44px;
        height:44px;
        margin: 16px 0 0 5px;
    }
}
 .red_arrow{
    float:right;
    clear:right;
    animation:arrow 2s 2;
    
} 
 @keyframes arrow{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(45deg);}
    } 
.hero4_left{
    margin:-6rem 0rem 0 0rem;
    .hero4_left_middle{
        
        width: 50%;
        height:50vh;
    
        
    }
    .hero4_left_middle{
        margin:14rem 0 0 17rem;
    }
    /* display: block; */
    .hero4_left_top_up{
        font-family: sans-serif;
        font-size: 15px;
        color:white;
        img{
            margin: 0 0 0 5px;
            float: none;
            clear: none;
            
        }
    }
    .hero4_left_top_h{
        font-family: sans-serif;
        font-size: 25px;
        margin:5px 0 35px;
        color: white;
    }
   
    .hero4_left_middle_down{
        display:block;
        margin:35px 0 0 0;
        /* border:solid; */
        height: 20vh;
        
        hr{
            margin:30px 0;
            background-color: #818185;
        }
        .hero4_left_middle_div_up{
            display:flex;
            
            .hero4_para{
                padding:0 14px;
            }
            
            img{
                width: 64px;
                height: 64px;
                align-self: center;
                background-color: white;
                border-radius: 50%;
            }
            img:hover{
                transform: scale(0.9);
            }
            p{
                color:white;
                font-size: 15px;
                font-family: sans-serif;
                line-height: 25px;
                padding-left: 20px;
                margin-right: -15px;

                span{
                    
                    font-family: sans-serif;
                     font-weight: bold;
                     font-size: 22px;
                     color:white;
                     
                }
            }
        }
        .hero4_left_middle_div_down{

            display:flex;
            /* overflow: hidden; */
            /* border:solid blue; */
            .hero4_para{
                padding:0 5px;
            }

            img{
                width: 64px;
                height: 64px;
                align-self: center;
                background-color: none;
            }
            img:hover{
                transform: scale(0.9);
            }
            p{
                color:white;
                font-size: 15px;
                font-family: sans-serif;
                line-height: 25px;
                padding-left: 20px;
                margin-right: -15px;

                span{
                    
                    font-family: sans-serif;
                     font-weight: bold;
                     font-size: 22px;
                     color: whitte;
                     
                     
                }
            }
        }
    }
}
.hero4_right_div{
  max-width: 100%;  
  .hero4_right{
    width: 100%;
    height:80vh;
    margin-top: -6rem;
}
}

}
/* ------------------------------------------next section------------------------------------- */
    
.fh p{

    text-align: center;
}
 .fh span{
    text-align: center;
    font-size: 40px;
}
.body1{
    background-image: url(./pictures/image-1.png);
}
.fh2{
    /* background-image:url(./pictures/image-12.jpg); */
    /* width: 40vw; */
    /* height: 50vh; */
    /* margin-left: 40rem;
    margin-top: 2rem;
    padding: 12.5rem 0 1rem;
    background-color: #848493; */
    border:solid;
    height:55vh;
}
.fh2_proj{
    background-image: url(./pictures/image-12.jpg);
    height:45vh;
    width:38vw;

    .fh2_para{
       background-color: white;
       padding:2rem  2.7rem 0 5rem;
        margin:10.7rem 0.4rem 0 0.4rem;
        
        position:absolute;

       p{
        z-index: 3;
        margin: -33px 0 0 10px;
        font-size: 13px;
    }


.p1{
    color: #848493;
    font-family: arial;
    font-size: 14px;
}
.p2{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 21px;
    margin-top: 10px;
}
.p3{
    margin-top: 2rem;
    font-size: 15px;
    font-family: sans-serif;
    color: #848493;
    span{
        
        font-family: sans-serif;
        font-size: 45px;
        color: black;
    }
}
.grey{
    background-color: #8484934e;
    color: #84849311 ;
    width: 70%;
    border-radius: 3cap;
    margin:0 1rem;

}
    }
}
.fh22{
    /* border: solid blueviolet; */
    background-color: white;
    margin: 3rem 0.5rem 0rem;

}
.fh22 p{
    /* padding: 8px; */
    /* margin-left: 40px; */
    color:black;
    margin-top: 1rem;
    text-align: left;




    }
    .fh31{
        /* display: flex; */
        background-image: url(./pictures/black-1.jpg);
        height: 95vh;
        color: white;
        margin-top: 6rem;

        .fh31_red{
            background-color: #EB5D5D;
            width:50%;
            height:43.9rem;
            opacity:0.9;
            z-index: 1;
            position:relative;

                .fh31_red_content{
                    padding:10rem 3rem 0 16rem ;
                    opacity:10;
                    line-height: 9vh;

                    p1{
                        font-family: arial;
                        font-size: 25px;
                        
                    }
                    p{
                        font-family:Arial, Helvetica, sans-serif;
                        font-size: 60px;
                        font-weight: bold;
                        


                    }
                    button{
                        margin-top:2rem;
                        padding:1rem 3rem;
                        background-color: black;
                        border:none;

                        a{
                            color:white;
                            text-decoration:none;
                            font-family: arial;
                            font-weight: bold;
                        }
                    
                    }
                    button:hover{
                        
                        background-color: white;
                        cursor: pointer;
                        a{
                            color:black;
                        }
                    }
                }
            
        }
        
     }
     
     .fh321{
        display: flex;
        gap: 10rem;
        
     }
     .fh322{
        display: flex;
        gap: 5rem;
     }
     .black_base{
        background-color: rgb(1, 13, 23);
        width:100%;
        height:40vh;
        margin: 0 0 -2rem 0;
     
     .fh32{
        margin: -2rem 13rem 0 13rem;
        background-color:white;
        padding: 0.5rem;
        /* padding-bottom: 1rem;
        padding-left: 10px; */
        z-index: 2;
        position:absolute;
        display:flex;
        width:70%;

        .fh32_box{
            
            width:60%;
            display:block;


            .fh32_box_up{
                display:flex;

                p{
                    font-family: arial;
                    font-weight: bold;
                    font-size: 20px;
                    margin:3rem 0 0 1rem; 
                    text-align: left;
                    padding:0;
                    color:black;
                    line-height: 25px;
                }
            }
            p{
                font-family: arial;
                font-size: 15px;
                text-align: center;
                padding:1rem;
                color:#818185;
                line-height: 30px;
            }
        }
        .fh32_box:hover{
            background-color: aliceblue;
            transition: 0.5s;
        }
     }
     .fh321 span{
        margin-left: -9rem;
     }
    }
     .fh4_back{
        background-image: url(./pictures/img1-home01-8DNATWRpo.jpg);
        background-size: 50%;
        background-repeat: no-repeat;
        height:93vh;
        margin-top:2rem;
        
     }
     .fh4{
        display: flex;
        gap: 6rem;
        /* margin-top: 4rem; */
        margin-left: 4rem;
        /* background-color: #EB5D5D; */
     }
     .fh42{
        display:flex;
     }
     .fh421{
        display: block;
        border-left:solid 5px #58AEC0;
        height:50vh;
        width:50%;
        .image_and_name{
            display:flex;
            height:20vh;
            p{
                color:#818185;
                font-family: sans-serif;
                font-size:15px;
                margin:3rem 2rem 0;
                padding:none;
                
                
                span{
                    color:black;
                    font-family: sans-serif;
                    font-size: 20px;
                    

                }
            }
            .image_div{
            
                border-top-right-radius:5.5rem;
                border-bottom-right-radius:5.5rem;
                width:40%;
                background:linear-gradient(to right, #58AEC0,white);
        

                img{
                    height:7.5rem;
                    width:7.5rem;
                    margin:0.5rem 0 0 4.2rem;
                    border-radius: 50%;
                    border:solid white 6px;
                }
            }
            

        }
        p1 p{
            padding: 4rem 6rem;
            
            font-family: sans-serif;
            color:#818185;
        }
        img{
            margin:4px 0 0 -35px;
            border-radius: 50%;
        }

     }
     .fh431{
        display: flex;
     }
     /* -------------------------------------------------------footer---------------------------------------------- */
     .footer1{
        background-color: #EB5D5D;
    max-width: 75%;
    margin-left: 9rem;
    height: 18vh;
    border: solid white 50px;
    margin-top: -11rem;
    padding-top: 2rem;
    color: azure;
    display:flex;
    


        .footer1_para{
            display: block;
            margin:1.5rem 0 0 3rem;
            
        }
        button{
             background-color: black;
              color:  azure;
              /* padding:-20px 5px; */
              margin: 1rem  0 0 25rem;
              height:9vh;
              width:15vw;
              font-weight: bold;
              
        }
    }
    .footer2{
        background-image: url(./pictures/Base-5.jpg);
        display: block;
        gap: 15rem;
        padding-top: 2rem;
        height: 90vh;
        width: 100%;
    }
    .line2 a{
        color:azure;
        text-decoration-line: none;
    }
    .line3 a{
        color:azure;
        text-decoration-line: none;
    }
    .footer2 a:hover{
        color: #EB5D5D;
    }
    .line{
        padding-top: 5rem;
        color: azure;
        margin-left: 5rem;
    }
    .line p{
        padding: 10px;
    }
    .line4 p{
        padding: 10px;
    }
    