/* -------------------------------------navigatin bar-----------------------------------*/
/* -------------------------------------header----------------------------------------- */
*{
    padding: 0;
    margin: 0;
 }  

.header{
    /* border: solid red; */
    height: 24vh;
    width:100%;
    padding-bottom: -9px;
    background-color: aliceblue;
    margin-top: -13px;

}

/* ----------------------------------------navbar1---------------------------------- */
.navbar1{
   display: flex;
   justify-content: space-between;
   margin: 0 12rem 0rem 12rem;
   /* max-width: 57%; */
   
   
   
}

/* --------------------------------------------menu1-------------------------------- */
.menu1{
    display:flex;
    float: right;
    padding: 20px 0 0 ;
    margin-right: 15px;
    /* border:solid red; */
    align-content: center;
    justify-content: center;
    
}
.search{
    margin: 0;
    
}
 input .text{
    padding: 80px;
    border:0px;
    /* outline: none; */
    border-radius: 5px;
    font-size: 30px;


}
.search button{
    padding: 80px;
    border: none;
    border-radius: 5px;
    background-color: rgb(252, 253, 253) ;
    color: black;
    font-size: 40px;
    cursor: pointer;

}
/* ----------------------------------------------------menu2---------------------------------------------- */
.menu2{
    display: flex;
    float: left;
    justify-content: space-between;
    padding: 10px 0 0 ;
    /* border:solid red; */
}
.phone-i{
    margin: 0 10px 0 30px ; 
    width: 50px; 
    height:50px;
    background-color: aliceblue;
}
.email-i{
    margin-right: 10px;
    width: 50px;
    height:50px;
    /* border: solid red; */
    background-color: aliceblue;
}

/* -----------------------------------------navbar-------------------------------------- */
.navbar{
    background-color: white;
    margin-top: 1rem;
    position: sticky;
    margin: 0 12rem 0 12rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60px;
    /* position: relative; */
    /* border: 2px solid; */
}
.navbar a{
    text-decoration: none;
    color: black;
    /* border: 2px solid; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
.bar1{
    margin-left: -25px;
    display: flex;
    gap: 20px;
    /* display: block; */
    list-style-type: none;
    /* position: -webkit-sticky sticky; */
    top: 0;
    width: 95%;
    overflow: hidden;
    
        li{
            /* display: inline-block; */
            /* font-family:Arial, Helvetica, sans-serif; */
            float: left;
            text-align: center;
            font-weight:100;
          
            a{
              /* font-size: 40px; */
              display: block;
              border: none;
              padding: 20px;
              background-color: white;
            }
             a:hover:not(.active){
              background-color: #58AEC0;
              /* font-weight: bold; */
            }
             a:active{
              background-color: rgb(137, 228, 253);
              font-weight: bold;
              
            }
          }
        
    
}


 

 .signup{
    display: block;
    
    
}
.signup a{
    display: flex;
    /* border: solid rgb(6, 174, 59); */
    text-align: left;
    padding: 20px  ;
    margin-left: -30px;
    

}
.signup a:hover{
    background-color:#58AEC0;
    transform: scale(1.05);
    /* font-weight: bold; */
}
.news_hero1{
    background-image: url(./pictures/project_pics/img-about-NAVVKJC.jpg);
     background-size:cover;
    width:100%;
    margin:-33px 0 0 0;
    height: 60vh;
}
.opacity{
    background-color: rgba(33, 33, 33, 0.586);
    height:60vh;
     display: flex;
    width:100%;
    justify-content: space-between;

    
    img{
        width:42%;
        height:50vh;
        float:left;
        opacity:0.6;
        margin:4.5rem 0 0;
    }
    div{
        margin:6rem 0 0 5.5rem;

        a{
            text-decoration: none;
            color:white;
            font-family: sans-serif;
            font-size: 13px;
            padding: 0 15px;
            border-right: solid white 2px;
        }
        a:hover{
            color: #58AEC0;
        }
        
        p1{
            color: white;
            font-family: sans-serif;
            font-size: 13px;
            padding: 0 15px;
        }
        p1:hover{
            color: #58AEC0;
        }
        p{
            color:white;
            font-family: arial;
            font-size: 45px;
            font-weight: bold;
            padding-left: 6.2rem;
        }
    }
}
.news_hero2{
    display:flex;
    max-width:100%;

    .news_left-section{
        width:80%;
        padding:0 0 0 5rem ;
        background-color: rgba(238, 238, 238, 0.274);

        .news_box{
            display:flex;
            color:black;
            border:solid 1px;
            border-radius: 1rem;
            overflow: hidden;
            margin:5rem 0;
            width:50vw;
            height:39vh;


            .news_box_para{
                margin:2rem 2rem 0 ;
                span{
                    font-family:'segoe-UI';
                    font-weight: bold;
                    font-size: 30px;
                    text-align: left;
                    margin-top:none;
                    

                }

            }
            hr{
                margin:20px 0;
            }
            .news_box_down{
                display:flex;
                margin:2rem 0 0;
                justify-content: center;

                p{
                    padding:0 15px;
                    margin-top:none;
                }
            }
            p{
                font-family: arial;
                font-size: 17px;
                text-align:left;
               
            }
        }
    }
   
    .news_right-section{
        max-width:100%;
        /* border:solid; */
        width:50%;
        background-color: rgba(238, 238, 238, 0.274);
        .recent_post_line{
            width:20%;
            height:1px;
        }
        .category_section{


            ul{
                display:block;
                list-style-type:symbols();



                li{
                    float:none;
                    text-align: left;

                    a{
                        text-decoration: none;
                        color:black;
                        padding:none;
                        background-color:rgba(238, 238, 238, 0.274);

                    }
                    a:hover
                }
            }
        }
        .recent_posts{
            
            .recent_post_box{
                display:flex;
                width:80%;
                
                height:14vh;
                p{
                    font-family: arial;
                    font-size: 17px;
                    text-align: left;
                    margin:1rem 0 0 10px;
                    font-weight: bold;
                    span{
                        font-family: arial;
                        font-size: 17px;
                        text-align: center;
                        margin:0 4rem 0;
                        font-weight: 100;
                        
                        
                    }
                }
                    img{
                    height:12vh;
                    width:25%;
                    border-radius:0.5rem;
                    margin:0.5rem;
                }
               

            }
            .recent_post_box:hover{
                background-color: white;
                box-shadow: 5px 5px 5px rgb(190, 190, 190);
            }
                
        }
    }
}